<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Settings</h1>
        <hr>
        <h2>My Data Access</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge">User E-mail </span>{{email}}
                </ul>
            </div>
            <div class="panel-footer">
                <strong>
                    <button type="button" class="btn btn-warning">Update User</button>
                    <button type="button" class="btn btn-danger">Delete User</button>
                </strong>
            </div>
        </div>
    </div>
</div>
