<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Settings</h1>
        <hr>
        <h2>My Data Access</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge">User E-mail </span>{{email}}
                </ul>
            </div>
            <div class="panel-footer">
                <form action="/user/update-data" method="get">
                    <strong>
                        <a href="/user/update-data" class="btn btn-warning" role="button">Update Data</a>
                        <a href="/user/delete-data/:{{_id}}" class="btn btn-danger" role="button">Delete User</a>
                    </strong>
                </form>
            </div>
        </div>
    </div>
</div>