<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>

    <h2>Update Data</h2>

   
    <form action="/user/update-data/{{_id}}" method="POST">
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" id="email" value="{{email}}" name="email" class="form-control">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" name="password" value="{{password}}" class="form-control">
        <br />
    </div>
     <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <button class="btn btn-primary" type="submit">Save changes</button>
    {{!-- <a href="/user/data/" class="btn btn-primary" role="button" type="submit">Save changes</a> --}}
    </form>


</body>

</html>