<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://s1.thcdn.com/productimg/1600/1600/11778938-2094607976619602.jpg" alt="FIFA 19">
            <h3 class="game-name"> FIFA 19 </h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur asperiores vel non
                minima tempore totam, ullam laborum, aliquam optio, at repellat dicta nihil quaerat perspiciatis
                praesentium voluptatibus autem aliquid similique!
            </p>
            <div class="clearfix">
                <div class="price pull-left">R$150</div>
                <a href="#" class="btn btn-primary" role="button">Comprar agora</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://s1.thcdn.com/productimg/1600/1600/11778938-2094607976619602.jpg" alt="FIFA 19">
            <h3 class="game-name"> FIFA 19 </h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur asperiores vel non
                minima tempore totam, ullam laborum, aliquam optio, at repellat dicta nihil quaerat perspiciatis
                praesentium voluptatibus autem aliquid similique!
            </p>
            <div class="clearfix">
                <div class="price pull-left">R$150</div>
                <a href="#" class="btn btn-primary" role="button">Comprar agora</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://s1.thcdn.com/productimg/1600/1600/11778938-2094607976619602.jpg" alt="FIFA 19">
            <h3 class="game-name"> FIFA 19 </h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur asperiores vel non
                minima tempore totam, ullam laborum, aliquam optio, at repellat dicta nihil quaerat perspiciatis
                praesentium voluptatibus autem aliquid similique!
            </p>
            <div class="clearfix">
                <div class="price pull-left">R$150</div>
                <a href="#" class="btn btn-primary" role="button">Comprar agora</a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://s1.thcdn.com/productimg/1600/1600/11778938-2094607976619602.jpg" alt="FIFA 19">
            <h3 class="game-name"> FIFA 19 </h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur asperiores vel non
                minima tempore totam, ullam laborum, aliquam optio, at repellat dicta nihil quaerat perspiciatis
                praesentium voluptatibus autem aliquid similique!
            </p>
            <div class="clearfix">
                <div class="price pull-left">R$150</div>
                <a href="#" class="btn btn-primary" role="button">Comprar agora</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://s1.thcdn.com/productimg/1600/1600/11778938-2094607976619602.jpg" alt="FIFA 19">
            <h3 class="game-name"> FIFA 19 </h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur asperiores vel non
                minima tempore totam, ullam laborum, aliquam optio, at repellat dicta nihil quaerat perspiciatis
                praesentium voluptatibus autem aliquid similique!
            </p>
            <div class="clearfix">
                <div class="price pull-left">R$150</div>
                <a href="#" class="btn btn-primary" role="button">Comprar agora</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://s1.thcdn.com/productimg/1600/1600/11778938-2094607976619602.jpg" alt="FIFA 19">
            <h3 class="game-name"> FIFA 19 </h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur asperiores vel non
                minima tempore totam, ullam laborum, aliquam optio, at repellat dicta nihil quaerat perspiciatis
                praesentium voluptatibus autem aliquid similique!
            </p>
            <div class="clearfix">
                <div class="price pull-left">R$150</div>
                <a href="#" class="btn btn-primary" role="button">Comprar agora</a>
            </div>
        </div>
    </div>
</div>


